// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;
@use "../base" as *;

.footer-wrapper {
	background-color: $clr-neutral-800;
}
.footer {
	color: $clr-neutral-100;
	padding: 2rem 10%;
	gap: 1rem;
	flex-grow: 1;

	@include breakpoint(large) {
		&.flex-col {
			flex-direction: row-reverse;
			padding: 4rem 6rem 2rem;
		}
	}

	.logo {
		width: 120px;
		filter: invert(100%);
	}

	.footer__list {
		gap: 0.5rem;

		svg {
			color: $clr-neutral-100;
			width: 12px;
			margin-right: 0.725rem;
		}
		@include breakpoint(large) {
			flex-direction: row;
		}
	}
}
