// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;
@use "../base" as *;

footer {
	background-color: $clr-neutral-800;
	color: $clr-neutral-100;
	padding: 2rem 10%;
	gap: 1rem;

	.logo {
		width: 120px;
		filter: invert(100%);
	}

	.footer__list {
		gap: 0.5rem;

		svg {
			color: $clr-neutral-100;
			width: 12px;
			margin-right: 0.725rem;
		}
	}
}
