@use "../abstracts" as *;
@use "../base" as *;

header {
	margin-block-start: 1rem;
	text-align: center;
	background-color: $clr-neutral-300;

	.logo-wrapper {
		background-color: $clr-neutral-100;
		padding-block-end: 1rem;

		@include breakpoint(large) {
			padding-block: 2rem;
		}
	}
	.logo {
		width: 200px;

		@include breakpoint(large) {
			width: 300px;
		}
	}
	p {
		padding-block: 1.25rem;
		display: flex;
		justify-content: center;
		gap: 1rem;

		@include breakpoint(large) {
			padding-block: 2rem;
			font-size: 1.5rem;
		}
	}
}
.header__restaurant {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;

	.fa-arrow-left {
		height: 2rem;
		position: absolute;
		top: 8px;
		left: 1.5rem;

		@include breakpoint(large) {
			top: 20px;
			left: 2rem;
		}
	}

	.logo {
		width: 162px;
		margin-inline: auto;
	}
}
