@use "../abstracts" as *;
@use "../base" as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	// TODO : un peu triché avec le bg sinon le "p" était au dessus de la boxshadow
	margin-block-start: 1rem;
	text-align: center;
	background-color: $clr-neutral-300;

	.logo-wrapper {
		background-color: $clr-neutral-100;
		padding-block-end: 1rem;

		@media screen and (width > 1024px) {
			padding-block: 2rem;
		}
	}

	// TODO : manage the width of the logo inside a the same mediaquery range (minmax ?)
	.logo {
		width: 200px;

		@media screen and (width > 1024px) {
			width: 300px;
		}
	}
	p {
		padding-block: 1.25rem;
		display: flex;
		justify-content: center;
		gap: 1rem;

		@media screen and (width > 1024px) {
			padding-block: 2rem;
			font-size: 1.5rem;
		}
	}
}

//TODO : positionner absolute l'arrow pour center le logo //
.header__restaurant {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;

	.fa-arrow-left {
		height: 2rem;
		margin-right: auto;
	}

	.logo {
		width: 162px;
		margin-inline: auto;
	}
}
