@use "../abstracts/" as *;
@use "../base/" as *;

//TODO : obligé d'override flex-col de cette façon. Pourquoi ? Réintégrer dans nesting//
@media screen and (width > 1024px) {
	.fonctionnement__list.flex-col {
		flex-direction: row;
		gap: 2.5rem;
	}
}
.fonctionnement__list {
	counter-reset: my-counter;

	// TODO : fixer la width des li //
	//TODO : regarder pour aligner verticalement le texte et les svg //

	li {
		//TODO : responsive 320 < 345 //
		counter-increment: my-counter;
		position: relative;
		padding: 1.875rem 2rem;
		border-radius: 1.5rem;
		margin-block: 1.5rem;

		background-color: $clr-neutral-200;

		&::before {
			content: counter(my-counter);
			background-color: $clr-primary;
			color: $clr-neutral-100;
			position: absolute;
			display: grid;
			place-content: center;
			$size: 1rem;
			padding: 1rem;
			left: calc(-1 * $size);
			line-height: $size;
			width: $size;
			height: $size;
			top: calc($size + 0.5rem);
			border-radius: 50%;
			text-align: center;
		}

		@media screen and (width > 1024px) {
			flex: 100%;
		}
	}
	svg {
		width: 20px;
		aspect-ratio: 1/2;
		margin-right: 1.25rem;
	}
}

.restaurants__list {
	gap: 1rem;
	align-items: center;

	&.flex-col {
		@media screen and (width > 1024px) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.card {
		//TODO : fixer la taille des cards //
		position: relative;
		max-width: 90%;
		background-color: $clr-neutral-100;
		border-radius: 1.5rem;
		overflow: hidden;

		@media screen and (width > 1024px) {
			flex-basis: 45%;
		}

		&:nth-child(-n + 2)::before {
			content: "Nouveau";
			position: absolute;
			background-color: $clr-tertiary;
			color: $clr-tertiary-accent;
			top: 1rem;
			right: 1rem;
			padding: 0.5rem 1rem;
			border-radius: 0.25rem;
			font-weight: $fw-500;
			font-size: 0.875rem;
		}

		.card__text {
			grid-auto-columns: 70% 30%;
			gap: 0.25rem;
			padding: 1rem;

			h3 {
				font-weight: $fw-700;
			}

			p {
				grid-column: 1 / 2;
				font-weight: $fw-300;
			}

			.card__text__heart {
				grid-column: 2;
				grid-row: 1 / 3;
				place-self: center;
			}
		}
		.card__img {
			aspect-ratio: 16/9;
			object-fit: cover;
		}
	}
}
