@use "../abstracts" as *;
@use "../base" as *;

//TODO : animer la disparition du wrapper à la fin de l'animation
//TODO : animation en M sur fond noir OU blurry pour voir le fond

/* .loader-wrapper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #222b32;
	display: grid;
	place-content: center;
	z-index: 100;
} */

.loader {
	position: relative;
	width: 64px;
	height: 64px;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
}
.loader:after {
	content: "";
	position: absolute;
	inset: 8px;
	margin: auto;
	background: #222b32;
	border-radius: 50%;
}
.loader:before {
	content: "";
	position: absolute;
	inset: 0px;
	margin: auto;
	background: linear-gradient($clr-primary, $clr-secondary);
	animation: loaderAnimation 3s linear forwards;
}
@keyframes loaderAnimation {
	0%,
	10% {
		transform: translateY(64px);
	}
	90%,
	100% {
		transform: translateY(0px);
	}
}
