@use "../abstracts" as *;
@use "../base" as *;

body {
	overflow: hidden;
	animation: no-scroll 0.5s 3s forwards;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(4px);
	display: grid;
	place-content: center;
	z-index: 10;
	overflow-y: hidden;
	animation: disappear 0s 3s forwards;
}
.loader {
	width: 120px;
	height: 50px;
	position: relative;
}

.loader-text {
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	color: $clr-primary;
	font-size: 2rem;
	letter-spacing: 4px;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		to right,
		$clr-secondary,
		$clr-secondary 50%,
		$clr-primary 50%
	);
	background-size: 200% 100%;
	background-position: 100%;

	animation: text_animation 3s ease both infinite;
}

.load {
	background-color: $clr-primary;
	border-radius: 50px;
	display: block;
	height: 16px;
	width: 128px;
	bottom: -20px;
	position: absolute;
	transform: translateX(0px);
	overflow: hidden;
}

.load::before {
	position: absolute;
	content: "";
	width: 0%;
	height: 100%;
	background-color: $clr-secondary;
	border-radius: inherit;
	animation: loading 3s ease both infinite;
}

@keyframes loading {
	100% {
		width: 100%;
	}
}

@keyframes text_animation {
	100% {
		background-position: 0%;
	}
}

@keyframes disappear {
	0%,
	99% {
		width: 100vw;
		height: 100vh;
	}

	100% {
		position: absolute;
		width: 0;
		height: 0;
	}
}
@keyframes no-scroll {
	0%,
	99% {
		overflow: hidden;
	}
	100% {
		overflow: auto;
	}
}
