@use "../abstracts" as *;
@use "../base" as *;
//TODO : simplifier les animations scroll body et disparition ? //
//TODO : choisir un design de loader sympa //

/* $loader-size: 128px;
body {
	overflow: hidden;
	animation: no-scroll 0.5s 3s forwards;
}
.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(4px);
	display: grid;
	place-content: center;
	z-index: 10;
	overflow-y: hidden;
	animation: disappear 0.5s 3s forwards;
}

.loader {
	position: relative;
	width: $loader-size;
	height: $loader-size;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	overflow: hidden;
}
.loader:after {
	content: "";
	position: absolute;
	inset: 16px;
	margin: auto;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
.loader:before {
	content: "";
	position: absolute;
	inset: 0px;
	margin: auto;
	background: linear-gradient($clr-primary, $clr-secondary);
	animation: loaderAnimation 3s linear forwards;
}
@keyframes loaderAnimation {
	0%,
	10% {
		transform: translateY($loader-size);
	}
	90%,
	100% {
		transform: translateY(0px);
	}
}

@keyframes disappear {
	0%,
	99% {
		width: 100vw;
		height: 100vh;
	}

	100% {
		position: absolute;
		width: 0;
		height: 0;
	}
}
@keyframes no-scroll {
	0%,
	99% {
		overflow: hidden;
	}
	100% {
		overflow: auto;
	}
}
 */
