@use "../abstracts" as *;
@use "../base" as *;

//TODO : même souci qu'au projet précédent, les menu items shrink si je les center

.menu {
	background-color: $clr-neutral-300;
	padding: 2rem 1rem 2.5rem;
	border-radius: 2.5rem 2rem 0 0;
	position: relative;
	top: -3rem;
	margin-bottom: -3rem;
	gap: 2.5rem;
	max-width: 1055px;

	align-items: stretch;
	margin-inline: auto;

	.menu__restaurant-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (width > 1024px) {
			margin-inline: auto;
			gap: 1rem;
		}

		.stack {
			position: relative;
			display: grid;
			place-content: center;
			padding: 1rem;

			.button-favourite-full {
				position: absolute;
				place-self: center;
			}
		}
	}
	.menu__restaurant-name {
		font-family: $ff-title;
		font-size: 1.75rem;
	}

	button {
		width: 186px;
		justify-self: center;
		align-self: center;
	}
}

.menu__section {
	gap: 0.75rem;
	max-width: 634px;

	margin-inline: auto;
	width: 100%;

	.menu__section__title {
		text-transform: uppercase;
		font-family: $ff-body;
		font-weight: $fw-300;
		font-size: 1rem;
		margin-bottom: 0.25rem;

		&::after {
			content: "";
			display: block;
			position: relative;
			left: 0;
			top: 0;
			width: 2.5rem;
			height: 3px;
			background-color: $clr-tertiary;
		}
	}
	.menu__section__item {
		filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.1));
		border-radius: 1rem;
		padding: 0.75rem 0.825rem;
		position: relative;
		overflow: hidden;
		display: flex;
		gap: 0.5rem;
		justify-content: flex-start;

		$intial-flex-basis: 90%;
		$checkmark-width: 60px;

		.text {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			flex-basis: $intial-flex-basis;
			overflow: hidden;
		}

		// Text ellipsis
		.menu__section__item__title,
		.menu__section__item__details {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.menu__section__item__title {
			font-weight: $fw-500;
			font-size: 1.125rem;
		}
		.menu__section__item__details {
			font-weight: $fw-300;
			font-size: 0.875rem;
		}

		.menu__section__item__price {
			font-weight: $fw-500;
			font-size: 1rem;
			place-self: flex-end;
		}

		// This is the checkmark hidden on the right
		.checked {
			position: absolute;
			right: -60px;
			display: grid;
			place-content: center;
			top: 50%;
			transform: translateY(-50%);
			padding: 1rem;
			background: $clr-tertiary;
			height: 200%;
			width: $checkmark-width;

			path {
				fill: $clr-neutral-100;
			}
		}

		// This is the animation
		.checked,
		.text {
			transition: all 0.5s ease-in-out;
		}
		&:hover .checked {
			right: 0;
		}
		&:hover .text {
			flex-basis: calc($intial-flex-basis - $checkmark-width);
		}
	}
}
