@use "../abstracts" as *;
@use "../base" as *;

.menu {
	background-color: $clr-neutral-300;
	padding: 2rem 1rem 2.5rem;
	border-radius: 2.5rem 2rem 0 0;
	position: relative;
	top: -3rem;
	margin-bottom: -3rem;
	gap: 2.5rem;
	max-width: 1055px;

	align-items: stretch;
	margin-inline: auto;

	.menu__restaurant-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(large) {
			margin-inline: auto;
			gap: 1rem;
		}

		.stack {
			position: relative;
			display: grid;
			place-content: center;
			padding: 1rem;

			.button-favourite-full {
				position: absolute;
				place-self: center;
			}
		}
	}
	.menu__restaurant-name {
		font-family: $ff-title;
		font-size: 1.75rem;
	}

	button {
		width: 186px;
		justify-self: center;
		align-self: center;
	}
}

.menu__section {
	gap: 0.75rem;
	max-width: 634px;

	margin-inline: auto;
	width: 100%;

	.menu__section__title {
		text-transform: uppercase;
		font-family: $ff-body;
		font-weight: $fw-300;
		font-size: 1rem;
		margin-bottom: 0.25rem;

		&::after {
			content: "";
			display: block;
			position: relative;
			left: 0;
			top: 0;
			width: 2.5rem;
			height: 3px;
			background-color: $clr-tertiary;
		}
	}
}
