@use "../abstracts" as *;
@use "../base" as *;
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
	font-family: $ff-body;
}
.fonctionnement-wrapper,
.restaurants-wrapper {
	display: flex;
	justify-content: center;
}
.fonctionnement {
	padding: 3rem 2rem 4.25rem;
	gap: 1rem;
	flex-grow: 1;
	max-width: 1055px;

	//TODO : gérer le padding pour 1025, évolutif avec la size max //}
}
.restaurants-wrapper {
	background-color: $clr-neutral-200;
}
.restaurants {
	padding-block: 3.57rem;
	max-width: 1055px;

	h2 {
		margin-bottom: 1.25rem;
		margin-left: 10%;
		font-size: 1.5rem;
		font-weight: $fw-700;
	}
}
