@use "../abstracts" as *;
@use "../base" as *;
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
	font-family: $ff-body;
}

.hero {
	background-color: $clr-neutral-200;
	text-align: center;
	align-items: center;
	gap: 2rem;
	padding: 2.5rem 2.125rem 3.5rem;

	h1 {
		font-size: 1.5rem;
		font-weight: $fw-700;
	}

	p {
		font-size: 1.125rem;
		font-weight: $fw-300;
	}
}

.fonctionnement {
	padding: 3rem 1.25rem 4.25rem;
	gap: 1rem;
}

.restaurants {
	background-color: $clr-neutral-200;
	padding-block: 3.57rem;

	h2 {
		margin-bottom: 1.25rem;
		margin-left: 10%;
		font-size: 1.5rem;
		font-weight: $fw-700;
	}
}
